<a href="/post/{{id}}">
  <div class="card">

    <h3 class="card-header">{{title}} </h3>
    <div class="card-header">Posted by
      {{user.username}}
      on
      <p>{{format_date created_at}}</p></div>

    <div class="container">

      <p class="post-text">{{post_content}}</p>
    </div>
  </div>

</a>